{% extends 'base.html.twig' %}

{% block title %}IDDEES | Accueil{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/accueil.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/blogs.css')}}">
{% endblock %}

{% block btn %}
{% endblock %}

{% block body %}
    <div class="accueil_container">

        <div class="accueil_img">
            <img src="assets/img/logo.png" alt="Logo de l'association IDDEES">
        </div>
        <div class="accueil_titre_description">
            <div class="accueil_titre">
                {% for titre in accueil %}
                <h1>{{ titre.titre }}</h1>
                {% endfor %}
            </div>
            <div class="accueil_description">
                {% for description in accueil %}
                    {{ description.description | raw}}
                {% endfor %}
            </div>
        </div>

    </div>
    <h2 class="accueil_article_titre">Les derniers articles :</h2>
    <div class="blogs_container">
        {% if blogs is not empty %}
            <div class="liste_articles">
                {% for blog in blogs %}
                    <a href = "{{ path('blog_show', {'slug' : blog.slug})}}" >
                        <div class="article">
                            <div class="article_titre">
                                <h3>{{ blog.titre }}</h3>
                            </div>
                            {% if blog.images is not empty %}
                                <div class="article_image">
                                    <img src="assets/img/blog/{{ blog.images[0].path }}" alt="">
                                </div>
                            {% endif %}
                            <div class="article_auteur_date">
                                <div class="article_auteur">
                                    <p>Écrit par : </p>
                                    <p>{{ blog.auteur.prenom }} {{ blog.auteur.nom | slice(0,1)~ '.' }}</p>
                                </div>
                                <div class="article_date">
                                    <p>Posté le : </p>
                                    <p>{{ blog.createdAt | date("d/m/Y") }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
