{% extends 'base.html.twig' %}

{% block title %}IDDEES | {{ blog.titre }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/blog-show.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/arrowToTop.css')}}">
{% endblock %}

{% block body %}
    {% include '/commons/arrowToTop.html.twig' %}
    <div class="blog_container">
        <h1>{{ blog.titre }}</h1>
        <div class="blog_auteur_blog_date">
            <div class="blog_auteur">
                <p>Écrit par :</p><p>{{ blog.auteur.nom }} {{ blog.auteur.prenom }}</p>
            </div>
            <div class="blog_date_publication">
                <p>Publié le :</p><p>{{ blog.createdAt | date("d/m/y H:i") }}</p>
                {% if blog.updatedAt is not empty %}
                    <p>Modifié le :</p><p>{{ blog.updatedAt | date("d/m/y H:i")}} </p>
                {% endif %}
            </div>
        </div>

        <div class="blog_texte">
            {{ blog.texteblog | raw}}
        </div>
        {% if blog.images is not empty %}
        <div class="blog_galerie">
            <div class="blog_galerie_grid">
                {% for image in blog.images %}
                    <div class="blog_galerie_grid_item">
                        <img src="{{ asset('assets/img/blog/' ~ image.path) }}" alt="{{ image.nom }}" title="{{ image.description }}" class="grid_image" />
                        <p>{{ image.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if blog.videos is not empty %}
        <div class="blog_videos">
            {% for video in blog.videos %}
                <div class="video">
                    <div class="video_url">{{ video.url | raw}} </div>
                    <div class="video_titre">{{ video.titre }}</div>
                </div>

            {% endfor %}
        </div>
        {% endif %}
        {% if blog.sources is not empty %}
        <div class="blog_sources">
            <p>Source(s) : </p>
            {% for source in blog.sources %}
                <ul class="source_liste">
                    <li class="source">
                        <a href="{{ source.path}}" target="_blank">{{ source.titre }}</a>
                    </li>
                </ul>
            {% endfor %}
        </div>
        {% endif %}

        <div class="modal" id="image-modal">
            <span class="close">&times;</span>
            <img src="" alt="" id="modal-image">
        </div>

    </div>
    <script src="{{ asset('assets/js/galerie.js') }}"></script>
    <script src="{{ asset('assets/js/arrowToTop.js') }}"></script>
{% endblock %}
