<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Bienvenue à IDDEES{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('/assets/css/main.css')}}">
        {% block css %}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar">
        <div class="logo">
            <a href="{{ path('accueil') }}">
                <img class="img-navbar" src="{{ asset('assets/img/logo.png') }}" alt="Logo IDDEES">
            </a>
        </div>
        <ul class="ul-navbar">
            <li class="li-navbar">
                <a class="lien-navbar" href="{{ path ('qui-sommes-nous') }}">Qui sommes-nous ?</a>
            </li>
            <li class="li-navbar">
                <a class="lien-navbar" href="{{ path ('sites_iddees') }}">Nos recycleries<br>Nos sites de collecte</a>
            </li>
            <li class="li-navbar">
                <a class="lien-navbar" href="sensibilisation.html">Sensibilisation</a>
            </li>
            <li class="li-navbar">
                <a class="lien-navbar" href="partenaires.html">Nos partenaires</a>
            </li>
            <li class="li-navbar">
                <a class="lien-navbar" href="contact.html">
                    Nous contacter<br>
                    Adhérer<br>
                    Demander une collecte</a>
            </li>

        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
        {% block body %}

        {% endblock %}
    <footer>
        <ul class="ul-footer">
            <li class="li-footer">
                <a class="lien-footer" href="cluf.html">
                    Informations légales
                </a>
            </li>
            <li class="li-footer">
                <a class="lien-footer" href="">
                    lien 2
                </a>
            </li>
            <li class="li-footer">
                <a class="lien-footer" href="">
                    lien 3
                </a>
            </li>
            <li class="li-footer">
                <a class="lien-footer" href="">
                    lien 4
                </a>
            </li>
            <li class="li-footer">
                <a class="lien-footer" href="">
                    <i class="fa-solid fa-lock"></i>
                </a>
            </li>
        </ul>
    </footer>
    <script src="https://kit.fontawesome.com/c971cac520.js" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/script.js') }}"></script>
    </body>
</html>
