{% extends 'base.html.twig' %}

{% block title %}{{ siteIddees.nom}}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/qui-sommes-nous.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/site-iddees-show.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/card_sites.css') }}">
{% endblock %}

{% block body %}

     <a href="{{ path ('sites_iddees') }}" class="btn-return">Retour</a>

    <h2>{{ siteIddees.nom }}</h2>

    {% if siteIddees.mentionSpeciale is not empty %}
    <div class="mention-speciale">
        <p>
            {{ siteIddees.mentionSpeciale }}
        </p>
    </div>
    {% else %}
        <div class="mention-speciale">
        </div>
    {% endif %}
    <div class="photo-map">
        <div class="photo">
            <img src="/assets/img/sites/{{ siteIddees.photo }}" alt="{{ siteIddees.nom }}">
        </div>
        <div class="map">
            {{ siteIddees.carte | raw}}
        </div>
    </div>

    <div class="info-contact">
        <div class="telephone">
            <i class="fa-solid fa-phone"></i> : 0{{ siteIddees.telephone }}
        </div>
        <div class="email">
            <i class="fa-solid fa-envelope"></i> : {{ siteIddees.email }}
        </div>
        <div class="adresse">
            <i class="fa-solid fa-location-dot"></i> : {{ siteIddees.adresse }} <br /> {{ siteIddees.codePostal }}, {{ siteIddees.ville }}
        </div>
    </div>
    {% if siteIddees.description is not empty  %}
    <div class="description">
        {{ siteIddees.description | raw }}
    </div>
    {% endif %}

    <div class="tableaux-horaires">
        {% if siteIddees.horairesMagasin is not empty  %}
            <table class="horaires-magasin">
                <caption class="titre-horaires">
                    Horaires de la recyclerie
                </caption>
                <tbody>
                    <tr>
                        <td>Lundi</td>
                        <td>{{ siteIddees.horairesMagasin.lundi }}</td>
                    </tr>
                    <tr>
                        <td>Mardi</td>
                        <td>{{ siteIddees.horairesMagasin.mardi }}</td>
                    </tr>
                    <tr>
                        <td>Mercredi</td>
                        <td>{{ siteIddees.horairesMagasin.mercredi }}</td>
                    </tr>
                    <tr>
                        <td>Jeudi</td>
                        <td>{{ siteIddees.horairesMagasin.jeudi }}</td>
                    </tr>
                    <tr>
                        <td>Vendredi</td>
                        <td>{{ siteIddees.horairesMagasin.vendredi }}</td>
                    </tr>
                    <tr>
                        <td>Samedi</td>
                        <td>{{ siteIddees.horairesMagasin.samedi }}</td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
        {% if siteIddees.horairesApports is not empty  %}
            <table class="horaires-magasin">
                <caption class="titre-horaires">
                    Horaires des apports
                </caption>
                <tbody>
                <tr>
                    <td>Lundi</td>
                    <td>{{ siteIddees.horairesApports.lundi }}</td>
                </tr>
                <tr>
                    <td>Mardi</td>
                    <td>{{ siteIddees.horairesApports.mardi }}</td>
                </tr>
                <tr>
                    <td>Mercredi</td>
                    <td>{{ siteIddees.horairesApports.mercredi }}</td>
                </tr>
                <tr>
                    <td>Jeudi</td>
                    <td>{{ siteIddees.horairesApports.jeudi }}</td>
                </tr>
                <tr>
                    <td>Vendredi</td>
                    <td>{{ siteIddees.horairesApports.vendredi }}</td>
                </tr>
                <tr>
                    <td>Samedi</td>
                    <td>{{ siteIddees.horairesApports.samedi }}</td>
                </tr>
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock %}
