{% extends 'base.html.twig' %}

{% block title %}IDDEES | Nos partenaires{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/accordion.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/partners.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/arrowToTop.css') }}">
{% endblock %}

{% block body %}
    {% include '/commons/arrowToTop.html.twig' %}

        <h2>Nos partenaires</h2>

        <div class="partners">
            {% for category in categories %}

                <details>
                    <summary><h3 >{{ category.category}}</h3></summary>
                    <div class="card_group_accordion">
                        {% for partner in category.partners %}
                            {% if partner.url is empty %}
                                <a href="#" class="card">
                            {%  else %}
                                <a href="{{ partner.url }}" class="card" target="_blank">
                            {% endif %}
                                <div class="card_img">
                                    {% if partner.logo is empty %}
                                        <img
                                                src="{{ asset('assets/img/partners.svg') }}"
                                                alt="{{ partner.nom }}"
                                        />
                                    {% else %}
                                        <img
                                                src="assets/img/partners/{{ partner.logo }}"
                                                alt="{{ partner.nom }}"
                                        />
                                    {% endif %}
                                </div>
                                <div class="card_position">
                                    <div class="card_title">
                                        {{ partner.nom }}
                                    </div>
                                    {{ partner.description | raw }}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </details>
            {% endfor %}
        </div>

    <script src="{{ asset('assets/js/arrowToTop.js') }}"></script>
{% endblock %}
