{% extends 'base.html.twig' %}

{% block title %}IDDEES | Qui sommes-nous ?{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/qui-sommes-nous.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/accordion.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/card.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/arrowToTop.css') }}">
{% endblock %}
{% block body %}
{% include '/commons/arrowToTop.html.twig' %}

    <div class="iddees_container">
        <h2>Qui sommes-nous ?</h2>

{#        <div class="tabs">#}
{#            <div class="tabs_btn_container">#}
{#                <button class="tab active_tab">#}
{#                    onglet 1#}
{#                </button>#}
{#                <button class="tab">#}
{#                    onglet 2#}
{#                </button>#}
{#                <button class="tab">#}
{#                    onglet 3#}
{#                </button>#}
{#            </div>#}
{#            <div class="tab_content active_tab_content">#}
{#                <h3>content 1</h3>#}
{#            </div><div class="tab_content">#}
{#                <h3>content 2</h3>#}
{#            </div><div class="tab_content">#}
{#                <h3>content 3</h3>#}
{#            </div>#}
{#        </div>#}


        <h2>
            Organigramme de l'association IDDEES
        </h2>
        <div class="organigramme">
            {% for site in sites %}
            <details>
                <summary><h3 >{{ site.site}}</h3></summary>
                <div class="card_group_accordion">
                    {% for organigramme in site.organigramme %}
                    <div class="card">
                        <div class="card_img">
                            {% if organigramme.photo is empty %}
                                <img src="assets/img/profil_img.svg"
                                     alt="{{ organigramme.prenom }} {{ organigramme.nom }}"
                                />
                            {% else %}
                                <img src="assets/img/organigramme/{{ organigramme.photo }}"
                                     alt="{{ organigramme.prenom }} {{ organigramme.nom }}"
                                />
                            {% endif %}
                        </div>
                        <div class="card_position">
                            <h5>{{ organigramme.roleOrganigramme }}</h5>
                        </div>
                        <div class="card_nom">
                            <p>{{ organigramme.prenom }} {{ organigramme.nom }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </details>
            {% endfor %}
        </div>
    </div>

    <script src="{{ asset('assets/js/arrowToTop.js') }}"></script>
    <script src="{{ asset('assets/js/tab.js') }}"></script>

{% endblock %}

