{% extends 'base.html.twig' %}

{% block title %}IDDEES | Qui sommes-nous ?{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/qui-sommes-nous.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/accordion.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/card.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/tabs.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/arrowToTop.css') }}">
{% endblock %}
{% block body %}
{% include '/commons/arrowToTop.html.twig' %}

    <div class="iddees_container">

        <div class="tabs">
            {% for onglet in onglets %}
            <div role="tablist" aria-label="tabs coponent" class="tabs_btn_container">
                <button class="tab active_tab">
                    {{ onglet.onglet1 }}
                </button>
                <button
                class="tab">
                    {{ onglet.onglet2 }}
                </button>
                <button
                class="tab">
                    {{ onglet.onglet3 }}
                </button>
            </div>
            <div
            class="tab_content active_tab_content">
                {{ onglet.texteOnglet1 | raw}}
            </div>
            <div
            class="tab_content ">
                {{ onglet.texteOnglet2 | raw}}
            </div>
            <div
            class="tab_content ">
                {{ onglet.texteOnglet3 | raw}}
            </div>
            {% endfor %}
        </div>

    <h2>Organigramme de l'association IDDEES</h2>
        <div class="organigramme">
            {% for site in sites %}
            <details>
                <summary><h3 >{{ site.site}}</h3></summary>
                <div class="card_group_accordion">
                    {% for organigramme in site.organigramme %}
                    <div class="card">
                        <div class="card_img">
                            {% if organigramme.photo is empty %}
                                <img
                                        src="assets/img/profil_img.svg"
                                        alt="{{ organigramme.prenom }} {{ organigramme.nom }}"
                                />
                            {% else %}
                                <img
                                        src="assets/img/organigramme/{{ organigramme.photo }}"
                                        alt="{{ organigramme.prenom }} {{ organigramme.nom }}"
                                />
                            {% endif %}
                        </div>
                        <div class="card_position">
                            <h5>{{ organigramme.roleOrganigramme }}</h5>
                        </div>
                        <div class="card_nom">
                            <p>{{ organigramme.prenom }} {{ organigramme.nom }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </details>
            {% endfor %}
        </div>
    </div>

    <script src="{{ asset('assets/js/arrowToTop.js') }}"></script>
    <script src="{{ asset('assets/js/tab.js') }}"></script>

{% endblock %}

